<div data-role="header">
  <h1>musi9festagram</h1>
</div>

<div data-role="content">
  <p>Instagramから音楽フェスの写真を取得します。</p>
  <ul data-role="listview" data-inset="true">
    <li><a href="/thumbnail/fujirock/-1">#fujirock</a></li>
    <li><a href="/thumbnail/asagirijam/-1">#asagirijam</a></li>
    <li><a href="/thumbnail/summersonic/-1">#summersonic</a></li>
  </ul>
</div>
